In [2]:
#lower
word='hello there'
print(word.lower())
print(word.islower())

hello there
True

In [7]:
#count
print(word.count('e'))
print(word.find('H'))

3
0

In [8]:
#format
print('welcome {} to the AI course'.format('paul'))

welcome paul to the AI course

In [9]:
#split
new_word='I like extreme sports'
print(new_word.split())

['I', 'like', 'extreme', 'sports']

# Lista

list_

In [13]:
list_things = [60,7.8,'String',True]
print(list_things)
print(list_things[1])
print(list_things[0])

#Slicing

print(list_things[0:2])

[60, 7.8, 'String', True]
7.8
60

In [15]:
#not in, in 
list_numbers=[1,2,3,4,5]
print(2 in list_numbers)

True

In [18]:
#Mutablility

numbers=[3,4,5,6]
numbers[0]='tres'
print(numbers)

['tres', 4, 5, 6]

In [19]:
# order

print(numbers[0])
print(word[1])

tres
e

In [21]:
#Len

numbers=[40,50,2,34,5]
letters=['b', 'y','u','i']
print(len(numbers))
print(len(letters))

5
4

In [23]:
# max

print(max(numbers))
print(max(letters))

50
y

In [24]:
# min

print(min(numbers))
print(min(letters))

2
b

In [25]:
#sorted

print(sorted(numbers))
print(sorted(letters))

[2, 5, 34, 40, 50]
['b', 'i', 'u', 'y']

In [30]:
#join

print(' & '.join(['Steven', 'Pal','Jhon']))

Steven & Pal & Jhon

In [38]:
#append agrega valor al final de la lista

letteres = ['a','b','g','f']
letteres.append('m')
letteres.append(4)
print(letteres)

#extend agrega mas de un elemento
letteres.extend(['n','h'])
print(letteres)

#remove eliminar elemento

letteres.remove('a')
print(letteres)

#pop

letteres.pop(0)
print(letteres)

['a', 'b', 'g', 'f', 'm', 4]
['a', 'b', 'g', 'f', 'm', 4, 'n', 'h']
['b', 'g', 'f', 'm', 4, 'n', 'h']
['g', 'f', 'm', 4, 'n', 'h']

# Tuplas

In [3]:
location_home=(3.4,5.6)
print(location_home[0])

dimensions=(45,67,90)
length,width,height=dimensions
print('dimensiones lenght: {} width: {} height: {}'.format(length,width,height))

3.4
dimensiones lenght: 45 width: 67 height: 90

# Sets

In [8]:
numbers = [4,6,8,9,10,10]
unique_numbers = set(numbers)
print(unique_numbers)

fruits = {'banana','apple', 'orange'}
print('mango' in fruits)

fruits.add('mango')
print(fruits)

fruits.pop()
print(fruits)

{4, 6, 8, 9, 10}
False
{'mango', 'banana', 'orange', 'apple'}
{'banana', 'orange', 'apple'}

# Dictionaries

In [1]:
elements = {'name':'mark','lasname': 'Harris', 'age':40}
print(elements['name'])


#get
print(elements.get('age','Not found'))


dic_students = {10:'Stevem', 2:'Jhom', 3:'paul'}
print(dic_students.get(2))

mark
40
Jhom

In [22]:
dic_workers = {1:'juan', 2:'julian'}
print(dic_workers)

dic_workers[3] = 'mario'
print(dic_workers)

#pop

dic_workers.pop(1)
print(dic_workers)


#not in, in


print('juan' in dic_workers.values())

{1: 'juan', 2: 'julian'}
{1: 'juan', 2: 'julian', 3: 'mario'}
{2: 'julian', 3: 'mario'}
False



# Control Flow

In [7]:
# if

x ,y = 12, 10
if x >y:
    print('{} es mayor a {}'.format(x,y))

season = 'winter'
list_friends = []
if season == 'summer':
    print('go to the beach')
    list_friends = ['Carmen', 'jose']
else:
    print('stay home')
    
#print(list_friends)

12 es mayor a 10
stay home

In [10]:
budget = 500
holidays = 'new york'

if holidays == 'new york':
    budget = 100
elif holidays == 'india':
    budget = 2000
elif holidays == 'brazil':
    budget = 1500
else:
    budget = 50
    
print('presupuesto total {}'.format(budget))

presupuesto total 100

 For in list

In [13]:
numbers = [1,2,3,4]

for number in numbers:
    print(number)
    
#range(0, 5, 1)

for number in range(1,4,2):
    print(number)

1
2
3
4
1
3

In [15]:
colors =['White','Black','Red']
lower_colors = []
for color in colors:
    lower_colors.append(color.upper())
print(lower_colors)

['WHITE', 'BLACK', 'RED']

For in Dictionary

In [19]:
students = {'mary':30, 'pablo':45}
for student in students.values():
    print(student)
for name, age in students.items():
    print(name, age)

30
45
mary 30
pablo 45

In [20]:
fruits = {'orange':4, 'apple':10}
count =0
for element in fruits.values():
    count += element
print(count)

14

While

In [22]:
count = 0
while count < 5:
    print('count {}'. format(count))
    count += 1

count 0
count 1
count 2
count 3
count 4

In [24]:
cards = [4,2,8,13]
my_cards = []

while sum(my_cards) < 21:
    my_cards.append(cards.pop())
print(my_cards)

[13, 8]

# for: cantidad interaciones conocida
#while: cantidad no conocida

In [29]:
#break 
future_savings = {'January':130, 'February':160, 'March': 180, 'April':140, 'May':90}
final_mounth = ''
total = 0

for mounth, money in future_savings.items():
    total += money
    if total >= 500:
        final_mounth = mounth
        break
        
print(final_mounth, total)

April 610

In [30]:
# continue

future_savings = {'January':130, 'February':160, 'March': 180, 'April':140, 'May':90}
final_mounth = ''
total = 0

for mounth, money  in future_savings.items():
    if mounth == 'March':
        continue
    total += money
print(final_mounth, total)

 520

Zip

In [6]:
status_logs = ['HTTP OK', 'HTTP NOT FOUND']
page_logs = ['main.html', 'index.html']

for status, page in zip(status_logs, page_logs):
    print(status, page)

list_logs =list(zip(status_logs, page_logs))
print(list_logs)
tuple_status, tuple_page =zip(*list_logs)
print(tuple_status, tuple_page)

countries = ['Brasil', 'Chile', 'China']
capital = ['Brasilia', 'Santiago', 'Pekin']

for country, capital in zip(countries, capital):
    print (country, capital)

HTTP OK main.html
HTTP NOT FOUND index.html
[('HTTP OK', 'main.html'), ('HTTP NOT FOUND', 'index.html')]
('HTTP OK', 'HTTP NOT FOUND') ('main.html', 'index.html')
Brasil Brasilia
Chile Santiago
China Pekin

Enumerate

In [11]:
students = ['Mary', 'Haul', 'Carol', 'Luis']
for index, name in enumerate(students):
    print(index, name)

0 Mary
1 Haul
2 Carol
3 Luis